html
    head
        title Misc Helpers
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css")
        style
            include styles/tabs.css
            include styles/tabstyles.css
    body


        div(class="container")
            div(class="page-header")
                h1 Misc Helpers

            include includes/tabs.pug
            br


            div(style="border-left: 2px solid orange; padding-left: 1em; margin-bottom: 1em;")
                div(style="font-weight:bold") Test-U-Good Corporation
                ul
                    li Create Cohort permission for multiple employers
                    li Signed agreement

                a(href="https://127.0.0.1:44347/account") Test-U-Good Provider Home
                div Username: oattestuser+10005077@gmail.com
                div Password: 2lineHUNTDATE+
            br
        
            div(style="border-left: 2px solid orange; padding-left: 1em; margin-bottom: 1em;")
                div(style="font-weight:bold") Like a Pro Education Inc.
                ul
                    li No Create Cohort permissions
                    li No signed agreement
        
                a(href="https://127.0.0.1:44347/account") Like a Pro Provider Home
                div Username: isp\10000896s
                div Password: W***



